<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Dropbox</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet" >
    <link href="//fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titan One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mdb.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">

  </head>

  <body>

  <nav style="margin-left: 16%" class="navbar navbar-expand-lg navbar-dark primary-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {% block search %}{% endblock %}
        </li>
      </ul>
      {% block signOut %}{% endblock %}
    </div>
  </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-blue sidebar">
          {% block icon %}{% endblock %}
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                {% block gotohome %}{% endblock %}
              </li>
              <li class="nav-item">
                {% block showallfiles %}{% endblock %}
              </li>
              <li class="nav-item" style="margin-top:350px;">

                {% block showSize %}{% endblock %}
              
              </li>
              <li class="nav-item" style="margin-top:58%;">

                {% block aboutus %}{% endblock %}
              
              </li>
              <li>
              <footer class="page-footer font-small special-color-dark pt-4">

                  <div class="container">
                    <ul class="list-unstyled list-inline text-center">
                      <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                          <i class="fa fa-facebook"> </i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                          <i class="fa fa-twitter"> </i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                          <i class="fa fa-google-plus"> </i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                          <i class="fa fa-linkedin"> </i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1">
                          <i class="fa fa-dribbble"> </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="footer-copyright text-center py-3">© 2018 Copyright:
                    <a> Scriptians</a>
                  </div>
                </footer>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                
                    {% block userwelcome %}{% endblock %}
                
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        {% block upload %} {% endblock %}
                    </div>
                </div>
            </div>
        </main>
      </div>
    </div>
    <div id = "dashboard" style="margin-right: 20%">
            {% block body %} {% endblock %}
    </div>
    



    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/mdb.min.js')}}"></script>


  </body>
</html>
